@tailwind base;
@tailwind components;
@tailwind utilities;


.home-about-social-links {
  justify-content: center;
  padding-top: 15px;
  display: inline-block;
  position: relative;
  padding-inline-start: 0;
}

.home-social-icons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  background: rgba(255, 255, 255, 0.972);
  border-radius: 50%;
  transition: 0.5s;
}

.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #68187a;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #801f95;
}

.home-social-icons:hover {
  color: #87209e;
  box-shadow: 0 0 5px #87209e;
  text-shadow: 0 0 2px #87209e;
}

.social-icons {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: #700c86;
}